### Creating a Database

In [2]:
## Import module
import sqlite3

## Connect to database 
my_db = sqlite3.connect("data/my_table.db")

## Cursor
crsr = my_db.cursor()

In [4]:
## Use SQL Commands to Create Table
sql_command = """CREATE TABLE emp (staff_number INTEGER PRIMARY KEY, 
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE);"""

## EXECUTE THE STATEMENT
crsr.execute(sql_command)

In [5]:
## Entering Data
sql_command_2 = """INSERT INTO emp VALUES (1, "Bill", "Gates", "M", "1990-09-02")"""


## Execute the command
crsr.execute(sql_command_2)

In [6]:
## Commit Changes to saved Database
my_db.commit()

## Close the connection
my_db.close()

### Fetching Data

In [7]:
## Import the module
import sqlite3

## Connect with the database
my_db = sqlite3.connect("data/my_table.db")

## Connect Cursor
crsr = my_db.cursor()

In [9]:
## Select from table
crsr.execute("SELECT * FROM emp")

## Store fetched data in variable
var = crsr.fetchall()

In [10]:
## Loop to print the data
for i in var:
    print(i)

(1, u'Bill', u'Gates', u'M', u'1990-09-02')

### Other SQL Commands